// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G2L SMARC EVK board
 *
 * Copyright (C) 2021 Renesas Electronics Corp.
 */

/dts-v1/;
#include "r9a07g054l2-mxt-smarc.dts"

&clk_ext_camera {
	compatible = "fixed-clock";
	#clock-cells = <0>;
	clock-frequency = <24000000>;
};

/ {
	cam1_1v8_supply: 1p8v {
		compatible = "regulator-fixed";
		regulator-name = "cam1_1v8_supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	cam1_2v7_supply: 2p7v {
		compatible = "regulator-fixed";
		regulator-name = "cam1_2v7_supply";
		regulator-min-microvolt = <2700000>;
		regulator-max-microvolt = <2700000>;
		gpios = <&pinctrl RZG2L_GPIO(42, 3) 0>;
		startup-delay-us = <300000>;
	};

	cam1_1v2_supply: 1p2v {
		compatible = "regulator-fixed";
		regulator-name = "cam1_1v2_supply";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";

	ov13850: ov13850@36 {
		compatible = "ovti,ov13850";
		reg = <0x36>;
		clock-names = "xvclk";
		clocks = <&clk_ext_camera>;
		clock-frequency = <24000000>;
		reset-gpios = <&pinctrl RZG2L_GPIO(10, 0) GPIO_ACTIVE_LOW>;
		avdd-supply = <&cam1_2v7_supply>;
		dovdd-supply = <&cam1_1v2_supply>;
		dvdd-supply = <&cam1_1v8_supply>;

		port {
			cam1_to_csi: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&csi2_in>;
			};
		};
	};

       /delete-node/ camera@3c;
};

&csi2 {
	status = "okay";

	ports {
		port {
			csi2_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				remote-endpoint = <&cam1_to_csi>;
			};
		};
	};
};
